.header{
  background-color: white;
  &__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 62px;
  }
  &__list{
    display: flex;
    column-gap: 62px;
    &-item{
      @include text($rale, 600px, 13px, 0, $black);
      &-link{
        color: $black;
      }
    }
    &-user{
      position: relative;
      &-menu{
        display: none;
        background-color: #fff;
        border: 1px solid #bdbdbd;
        padding: 8px 15px;
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 8px;
        z-index: 4;
      }
      &:hover .header__list-user-menu{
        display: block;
        cursor: pointer;
      }
    }
  }
}